.header {
  background-color: var(--gradient-v-light-red);
  background-image: url("/public/images/bg-pattern-intro-desktop.svg");

  padding-top: var(--sixty-two);
  padding-bottom: var(--sixty-two);
}

.header > nav {
  display: flex;
}

.header__navigation-left,
.header__navigation-right {
  display: flex;
  gap: var(--thirty-two);
  font-weight: bold;
}

.header__navigation-left {
  flex: 1;
}

.header__link > a {
  color: var(--neutral-w-text);
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
