#hero::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 18%;
  right: -35%;
  background-image: url('/public/images/bg-pattern-intro-mobile.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: scale(2.2);
  z-index: -1;
}

#circles {
  position: relative;
}

#circles::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-image: url(/public/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center -123%;
  background-size: 100%;
  z-index: -1;
}

#phones {
  position: relative;
}

#phones::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url('/public/images/illustration-phones.svg');
  /* transform: scale(1.4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; */
}

/* md mobile-first */
@media (min-width: 768px) {
  #hero::before {
    top: -10%;
    right: -445px;
    background-image: url('/public/images/bg-pattern-intro-desktop.svg');
    transform: scale(2);
  }

  #editor-desktop {
    position: absolute;
    top: 0%;
    left: 50%;
    background-image: url('/public/images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
  }

  #circles::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    height: 100%;
    width: 100%;
    background-image: url(/public/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center 78%;
    background-size: 75%;
    z-index: -1;
  }
}

/* lg mobile first  */
@media (min-width: 1024px) {
  #laptop-desktop {
    position: relative;
    top: 10%;
    left: -18%;
    z-index: -1;
  }

  #laptop-desktop::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0%;
    background-image: url('/public/images/illustration-laptop-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transform: scale(1.8);
    z-index: 100;
  }

  #phones::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url(/public/images/illustration-phones.svg);
    transform: scale(1.4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/* md desktop-first */
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
