@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#features {
  background-image: url('/public/images/bg-pattern-circles.svg');
  background-position: center 60%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
